@tailwind base;
@tailwind components;
@tailwind utilities;

.uploadcare-widget button {
	@apply bg-gray-700 hover:bg-gray-900 rounded-lg p-3 text-yellow-500 text-[16px] font-bold w-full;
}

.uploadcare-widget uc-simple-btn {
	@apply w-full;
}
